@font-face {
    font-family: "LibreBaskerville-Regular";
    src: url(/css/webfonts/LibreBaskerville-Regular.ttf) format("truetype");
}

:root {
    /* Colors */
    --black: #1D1D1D;
    --blueRaven: #004E80;
    --grayGargoyle: #333333;
    --greenSnake: #067552;
    --parchmentPaper: #E8E8E4;
    --redLion: #9D1F1B;
    --whiteWizard: #FFFFFF;
    --yellowBadger: #ECB939;
    --brownPaw: #836444;
    --mainColor: var(--redLion);
    /* Fonts */
    --sansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --serif: "Literata", Georgia, serif;
}

@import url("https://fonts.googleapis.com/css?family=Literata:400,400i,500,500i,600,600i,700,700i&display=swap");

body {
    background-color: var(--parchmentPaper);
    color: var(--grayGargoyle);
    font-family: LibreBaskerville-Regular;
    font-size: 0.875rem;
    line-height: 1.715;
}

button {
    background-color: transparent;
    border: .0625rem solid var(--grayGargoyle);
    border-radius: 0.125rem;
    color: var(--grayGargoyle);
    cursor: pointer;
    font-family: var(--sansSerif);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.715;
    padding: 0.19rem 0.5rem;
    transition: background-color 0.125s ease-in;
}

    button:active,
    button:focus,
    button:hover {
        background-color: var(--whiteWizard);
        border-color: var(--black);
        color: var(--black);
    }

.z-index-0 {
    z-index: 0 !important;
}

.z-index-1 {
    z-index: 1 !important;
}

.z-index-2 {
    z-index: 2 !important;
}

/* Header, Navigation, Footer */
header {
    background-color: var(--mainColor);
    transition: background-color 0.125s ease-in;
    position: fixed;
    top: 0px;
}

    header #search input {
        background-color: rgba(0, 0, 0, 0.25);
        border: none;
        border-radius: 2px;
        color: var(--whiteWizard);
        font-family: var(--sansSerif);
        font-size: 0.875rem;
        line-height: 1.715;
        margin: 0;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        text-indent: 29px; /* Push the text box cursor to the right so it doesn't overlap with the logo background image */
        background-origin: content-box, padding-box;
        background-image: url('../images/search_14x14.png');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 14px 14px;
    }

        header #search input:focus {
            background-color: rgba(0, 0, 0, 0.35);
            outline: none;
            transition: background-color 0.125s ease-in;
        }

        header #search input::placeholder {
            color: rgba(255, 255, 255, 0.50);
            transition: color 0.125s ease-in;
        }

        header #search input:active::placeholder,
        header #search input:focus::placeholder {
            color: rgba(255, 255, 255, 1);
        }

    header ~ div {
        color: var(--whiteWizard);
        background-color: var(--grayGargoyle);
        position: fixed;
        top: 56px;
        height: 64px;
    }

.logo-container {
}

    .logo-container img {
        margin-top: 4px;
        padding-right: 15px;
    }

.search-logo {
    width: 32px;
    height: 32px;
}

form {
    /* The margin classes are specific to Chrome. For some crazy reason, it auto inserts these random ass margins. */
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

nav a {
    color: var(--whiteWizard);
    opacity: 0.8;
    text-decoration: none;
    transition: opacity 0.125s ease-in;
}

    nav a:active,
    nav a:focus {
        opacity: 1;
        text-decoration: underline;
    }

    nav a:hover {
        opacity: 1;
    }

footer {
    color: var(--whiteWizard);
    background-blend-mode: multiply;
    background-color: var(--mainColor);
    background-image: url(../images/feathers.png);
    background-repeat: all;
    border-top: 0.25rem inset rgba(29, 29, 29, 0.30);
    font-size: 0.875rem;
    line-height: 1.715;
    transition: background-color 0.125s ease-in;
}

    footer h4 {
        border-bottom: 0.125rem solid rgba(29, 29, 29, 0.30);
        font-size: 0.875rem;
        line-height: 1.715;
        margin: 0 0 0.5rem 0;
        padding: 0 0 0.375rem 0;
    }

    footer p {
        font-family: var(--sansSerif);
        line-height: 2;
        margin: 0;
    }

        footer p a {
            margin: 0 0 0.25rem 0;
        }

    footer .copyright {
        font-size: 0.75rem;
        line-height: 1.34;
        opacity: 0.65;
    }

/* Content */
.card-image {
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

    .card-image img {
        box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
        height: 325px;
        width: 239px;
    }

.rotate {
    transform: rotate(90deg);
}

.card-info {
    background-color: var(--whiteWizard);
    border-radius: 0.25rem;
    border-top: 0.25rem solid var(--grayGargoyle);
}

.card-name {
    border-bottom: 0.0625rem solid rgba(29, 29, 29, 0.08);
    font-size: 1rem;
    line-height: 1.5rem;
}

.card-types {
    font-weight: bold;
}

#rulings {
    background-color: var(--whiteWizard);
    border-top: .0625rem inset rgba(29, 29, 29, 0.30);
}

    #rulings h3 {
        color: var(--black);
        font-size: 0.875rem;
        line-height: 1.715;
    }

    #rulings .ruling {
        font-family: var(--sansSerif);
    }

/* Hogwarts Houses */
.crest {
    position: relative;
    top: -25px;
    cursor: pointer;
}

.crest-tooltip {
    display: none;
}
.crest-in-tooltip {
    cursor: pointer;
    z-index: 9999 !important;
}

.tippy-box {
    background-color: var(--mainColor);
}

    .tippy-box[data-placement^=top]>.tippy-arrow:before {
        border-top-color: var(--mainColor);
    }

header.gryffindor,
footer.gryffindor {
    background-color: var(--redLion) !important;
}

button.gryffindor:active,
button.gryffindor:focus,
button.gryffindor:hover {
    border-color: var(--redLion) !important;
}

    button.gryffindor:active svg,
    button.gryffindor:focus svg,
    button.gryffindor:hover svg {
        color: var(--redLion) !important;
    }

header.hufflepuff,
footer.hufflepuff {
    background-color: var(--yellowBadger) !important;
}

button.hufflepuff:active,
button.hufflepuff:focus,
button.hufflepuff:hover {
    border-color: var(--yellowBadger) !important;
}

    button.hufflepuff:active svg,
    button.hufflepuff:focus svg,
    button.hufflepuff:hover svg {
        color: var(--yellowBadger) !important;
    }

header.hufflepuff nav a,
footer.hufflepuff nav a,
footer.hufflepuff h4,
footer.hufflepuff .copyright {
    color: var(--grayGargoyle) !important;
}

header.ravenclaw,
footer.ravenclaw {
    background-color: var(--blueRaven) !important;
}

button.ravenclaw:active,
button.ravenclaw:focus,
button.ravenclaw:hover {
    border-color: var(--blueRaven) !important;
}

    button.ravenclaw:active svg,
    button.ravenclaw:focus svg,
    button.ravenclaw:hover svg {
        color: var(--blueRaven) !important;
    }

header.slytherin,
footer.slytherin {
    background-color: var(--greenSnake) !important;
}

button.slytherin:active,
button.slytherin:focus,
button.slytherin:hover {
    border-color: var(--greenSnake) !important;
}

    button.slytherin:active svg,
    button.slytherin:focus svg,
    button.slytherin:hover svg {
        color: var(--greenSnake) !important;
    }

/* Search sub-menu */

select {
    padding: 6px;
    border-radius: 2px;
    border: solid 1px rgba(232, 232, 228, 0.75);
    background-color: rgba(255, 255, 255, 0.05);
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: var(--parchmentPaper);
}

#setLabel {
    font-family: LibreBaskerville-Regular;
}

.sub-menu-label {
    font-family: Arial;
}

/* Card content area */

/* Container used as parent to card container */
.content-container {
    margin-top: 125px;
    min-height: 60vh; /* Default height for the card area so it isn't smushed when there are no cards */
    overflow: auto;
}

    .content-container > #cardContainer {
        /*background-color: blueviolet !important;*/
    }
/* The card-size classes are set from the database */
.card-orientation-vertical {
    height: 350px !important;
    width: 250px !important;
}

.card-orientation-horizontal {
    height: 350px !important;
    width: 250px !important;
    transform: rotate(-90deg);
}
/* Card list table */

/* Datatables.js adds borders to the header and footer of the table, but they aren't part of the design by Tressley */
table.dataTable thead th {
    border: none;
}

table.dataTable.no-footer {
    border-bottom: none;
}

table {
    font-size: 14px;
}

/* Alternating row styles for the table. These have to be !important because datatable.js sets their own styles */
tbody tr:nth-child(odd) {
    background-color: var(--whiteWizard) !important;
    color: var(--grayGargoyle) !important;
}

tbody tr:nth-child(even) {
    background-color: #F9F9F8 !important;
    color: var(--grayGargoyle) !important
}

/* Setting columns to center align
    Set, number, cost, rarity
*/
td:nth-child(1),
td:nth-child(2),
td:nth-child(4),
td:nth-child(6) {
    text-align: center;
    vertical-align: middle;
}

/* Class for lesson image that is set in accio.js */
.card-table-cell-lesson-image {
    margin-left: 7px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.card-table-cell-icon-image {
    margin-left: 7px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.card-table-cell-lesson-label {
    vertical-align: middle;
    margin-top: 5px;
}

.card-table-cell-rarity-image {
    padding-left: 5px;
}

/* Card Modal */

