@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <div class="inner">
                <p><a href="/CardBrowser">Go to browser page</a></p>
                <p><a href="/Admin/ManageCards/Add">Go to admin page</a></p>
            </div>
        </main>

        <footer class="mastfoot mt-auto">
            
        </footer>
    </div>
</div>