<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <meta name="description" content="A fast, magical Harry Potter Trading Card Game search." />
    <meta property="og:site_name" content="Accio Harry Potter TCG Search" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Accio Harry Potter TCG Search" />
    <meta property="og:description" content="A fast, magical Harry Potter Trading Card Game search." />
    <meta property="og:url" content="https://accio.cards/" />

    <link href="https://unpkg.com/tippy.js@6/themes/light.css" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css" asp-append-version="true" />

    @* Raw files for development *@
    <environment include="Development">
        <link href="~/css/accio.core.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/accio.account.login.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/accio.account.register.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/accio.environment.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/accio.home.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    @* Bundled css for production *@
    <environment exclude="Development">
        <link href="~/css/accio.bundle.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="main" class="w-100 relative">
        <nav class="tc center home-nav pv4">
            <a class="dib-ns db mr4-ns" href="/advanced" title="Advanced"><i class="fas fa-hat-wizard mr2"></i>Advanced Search</a>
            <a class="dib-ns db mr4-ns" href="https://github.com/perezdev/Accio/wiki/%F0%9F%93%9D-Syntax" target="_blank"><i class="fas fa-code mr2"></i>Syntax</a>
            <a class="dib-ns db mr4-ns" href="/sets" title="All Sets"><i class="fas fa-book mr2"></i>Sets</a>
            <a class="dib-ns db" href="/random" title="Random Card"><i class="fas fa-magic mr2"></i>Random Card</a>
        </nav>

        @RenderBody()
    </div>

    <!-- Begin Footer -->
    <footer class="w-100 pv4 relative">
        <div class="mw7 center">
            <div class="cf">
                <div class="fl w-100 w-third-ns mb4-ns mb3 ph3 tl-ns tc">
                    <h4>Find Cards</h4>
                    <nav>
                        @*<p><a href="#" title="Advanced">Advanced</a></p>*@
                        @*<p><a href="#" title="All Cards">All Cards</a></p>*@
                        <p><a href="https://github.com/perezdev/Accio/wiki/%F0%9F%93%9D-Syntax" target="_blank" title="Syntax Guide">Syntax Guide</a></p>
                        <p><a href="/sets" title="All Sets"></i>All Sets</a></p>
                        <p><a href="/random" title="Random Card">Random Card</a></p>
                    </nav>
                </div>
                <div class="fl w-100 w-third-ns mb4-ns mb3 ph3 tl-ns tc">
                    <h4>Accio</h4>
                    <nav>
                        @*<p><a href="#" title="Deckbuilder">Deckbuilder</a></p>*@
                        @*<p><a href="#" title="FAQ">FAQ</a></p>*@
                        <p><a href="https://github.com/perezdev/Accio/wiki" target="_blank" title="Wiki">Wiki</a></p>
                        <p><a href="https://cutt.ly/AccioContact" target="_blank" title="Contact">Contact</a></p>
                    </nav>
                </div>
                <div class="fl w-100 w-third-ns mb4-ns mb3 ph3 tl-ns tc">
                    <h4>Social</h4>
                    <nav>
                        <p><a href="https://github.com/perezdev/Accio" target="_blank" title="GitHub">GitHub</a></p>
                        <p><a href="https://twitter.com/harrypottertcg?lang=en" target="_blank" title="Twitter">Twitter</a></p>
                        <p><a href="https://discord.gg/EKJSXBC" target="_blank" title="Discord">Discord</a></p>
                    </nav>
                </div>
            </div>
            <div class="w-100 ph3 tc">
                <p class="copyright">The information presented on this site about Harry Potter, including card images, characters, names and related indicia are &trade; and &copy; Warner Bros. Entertainment Inc. This website is not produced by, endorsed by, supported by, or affiliated with Warner Bros. Entertainment Inc. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js">
    </script>
    <script src="https://kit.fontawesome.com/fd25a25548.js">
    </script>

    @* Raw files for development *@
    <environment include="Development">
        <script src="~/js/accio.core.js" asp-append-version="true"></script>
        <script src="~/js/accio.search.js" asp-append-version="true"></script>
        <script src="~/js/accio.home.js" asp-append-version="true"></script>
        <script src="~/js/accio.account.login.js" asp-append-version="true"></script>
        <script src="~/js/accio.account.register.js" asp-append-version="true"></script>
    </environment>

    @* Bundled JS for production *@
    <environment exclude="Development">
        <script src="~/js/accio.bundle.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
