/* Header, Navigation, Footer */
header {
    background-color: var(--mainColor);
    position: fixed;
    top: 0;
    transition: background-color 0.125s ease-in;
}

    header #search input {
        background-color: rgba(0, 0, 0, 0.25);
        background-image: url('../images/logos/logo_white.svg');
        background-origin: content-box, padding-box;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 1.5rem 1.5rem;
        border: none;
        border-radius: 4px;
        color: var(--whiteWizard);
        font-family: var(--sansSerif);
        font-size: 0.875rem;
        line-height: 1.715;
        margin: 0;
        padding: 0.5rem 0.5rem 0.5rem 0.75rem;
        text-indent: 2rem; /* Push the text box cursor to the right so it doesn't overlap with the logo background image */
    }

        header #search input:focus {
            background-color: rgba(0, 0, 0, 0.35);
            outline: none;
            transition: background-color 0.125s ease-in;
        }

        header #search input::placeholder {
            color: rgba(255, 255, 255, 0.50);
            transition: color 0.125s ease-in;
        }

        header #search input:active::placeholder,
        header #search input:focus::placeholder {
            color: rgba(255, 255, 255, 1);
        }

    header ~ div {
        color: var(--whiteWizard);
        background-color: var(--grayGargoyle);
        position: fixed;
        top: 56px;
    }

.clear-search {
    background-image: url(../images/clear.svg);
    cursor: pointer;
    height: 0.875rem;
    margin-left: -1.75rem;
    margin-top: 0.8125rem;
    opacity: 0.75;
    width: 0.875rem;
}

    .clear-search:hover {
        opacity: 1.0;
    }

#searchInput::-webkit-search-cancel-button {
    position: relative;
    right: 20px;
    height: 20px;
    width: 20px;
    color: rgb(117, 117, 117);
    background-color: rgb(117, 117, 117);
}

.no-cards-container {
}

.no-cards-items {
    margin-top: 50%;
}

.no-cards-image {
    color: var(--grayGargoyle);
    filter: invert(66%) sepia(0%) saturate(631%) hue-rotate(144deg) brightness(86%) contrast(87%);
}

.no-cards-h3 {
    margin-bottom: 0;
}

.card-image {
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

    .card-image img {
        /*box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);*/
        cursor: pointer;
        display: block;
        height: auto;
        min-width: 100%;
    }

.hover-card {
    height: 325px;
    position: absolute;
    width: 239px;
    z-index: 9999;
}

.hover-card-loading {
    background-image: url("../images/cardBack.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}

.rotate {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -moz-transform: rotate(90deg); /* Firefox */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -o-transform: rotate(90deg); /* Opera */
}

/* This is to rotate the card when you hover over it in the list view
   It's really just for pushing the card to the right
*/
.hover-card-rotate {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -moz-transform: rotate(90deg); /* Firefox */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -o-transform: rotate(90deg); /* Opera */
    margin-left: 50px;
    margin-top: -40px;
}

/* Search sub-menu */

.submenu-select {
    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.05);
    background-image: url("../images/chevron_select.svg");
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 0.5rem 0.875rem;
    border: solid 1px rgba(232, 232, 228, 0.75);
    border-radius: 4px;
    color: var(--parchmentPaper);
    font-family: var(--sansSerif);
    font-size: 0.875rem;
    line-height: 1.71;
    padding: 0.188rem 2rem 0.25rem 0.75rem;
}

    .submenu-select option {
        background: var(--whiteWizard);
        color: var(--grayGargoyle);
        font-family: var(--sansSerif);
    }

        .submenu-select option:hover,
        .submenu-select option:focus,
        .submenu-select option:active {
            background: linear-gradient(#000000, #000000);
            background-color: #000000 !important; /* for IE */
            color: #ffed00 !important;
        }

        .submenu-select option:checked {
            background: linear-gradient(#d6d6d6, #d6d6d6);
            background-color: #d6d6d6 !important; /* for IE */
            color: #000000 !important;
        }

.sub-menu-label {
    font-family: var(--sansSerif);
}

.set-header-title-icon {
    width: 1.25rem;
    height: 1rem;
    filter: brightness(0) invert(1);
}

.set-header-title-container {
}

.set-header-title-h1 {
    font-size: 0.875rem;
    font-weight: bold;
    margin: 0 0 0 0.5rem;
}

.set-header-title-data {
    color: rgba(255, 255, 255, 0.8);
}

/* Card content area */
.main-container {
    position: relative;
}

/* Container used as parent to card container */
.content-container {
    display: flex;
    flex-direction: column;
    margin-top: 124px;
    min-height: 60vh; /* Default height for the card area so it isn't smushed when there are no cards */
    overflow: visible;
}

.card-orientation-vertical {
    height: 350px !important;
    width: 250px !important;
}

.card-orientation-horizontal {
    height: 350px !important;
    transform: rotate(90deg);
    width: 250px !important;
}

.card-image {
    /* I'm considering using the card back as a place holder while the cards load */
    /*background-image: url("../images/cardBack.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;*/
}

/* Card list table */

table {
    font-size: 0.875rem;
    line-height: 1.71;
    width: 100% !important;
}

    table.dataTable thead th {
        font-size: 0.875rem;
        line-height: 1.71;
        padding: 0.5rem;
    }

    table tbody tr {
        cursor: pointer;
    }

        table tbody tr:hover {
            background-color: var(--lightPurpleFirecracker) !important;
            cursor: pointer;
        }

    table.dataTable tbody td {
        padding: 0.5rem;
    }

    /* Datatables.js adds borders to the header and footer of the table, but they aren't part of the design by Tressley */
    table.dataTable thead th {
        border: none;
    }

    table.dataTable.no-footer {
        border-bottom: none;
    }

    table.dataTable thead .sorting_asc {
        background-image: url("../images/chevron_asc.svg");
        color: var(--purpleFirecracker);
    }

    table.dataTable thead .sorting_desc {
        background-image: url("../images/chevron_desc.svg");
        color: var(--purpleFirecracker);
    }

    table.dataTable thead .sorting {
        background-image: url('');
    }

/* Alternating row styles for the table. These have to be !important because datatable.js sets their own styles */
tbody tr:nth-child(odd) {
    background-color: var(--whiteWizard) !important;
    color: var(--grayGargoyle) !important;
}

tbody tr:nth-child(even) {
    background-color: #F9F9F8 !important;
    color: var(--grayGargoyle) !important
}

/* Setting columns to center align
    Set, number, cost, rarity
*/
td:nth-child(1),
td:nth-child(2),
td:nth-child(4),
td:nth-child(6) {
    text-align: center;
    vertical-align: middle;
}

/* Class for lesson image that is set in accio.js */
.card-table-cell-lesson-image {
    height: 1.25rem;
    margin-left: 0.25rem;
    vertical-align: middle;
    width: 1.25rem;
}

.card-table-cell-icon-image {
    height: 1.25rem;
    margin-left: 0.25rem;
    vertical-align: middle;
    width: 1.25rem;
}

.card-table-cell-lesson-label {
    margin-top: 0.25rem;
    vertical-align: middle;
}

.card-table-cell-rarity-image {
    padding-left: 0.25rem;
}

.set-date {
}

#Base-Set {
    animation: fadeColor 2.4s infinite;
    height: 4rem;
    margin-left: -1rem;
}
