.login-to-accio {
    font-size: 1rem;
    font-weight: bold;
    color: var(--whiteWizard);
}

.login-form-input {
    background-color: rgba(107, 99, 181, 0.25);
    background-origin: content-box, padding-box;
    border: none;
    color: var(--whiteWizard);
    font-family: var(--sansSerif);
    min-width: 336px;
    height: 40px;
    border-radius: 4px;
    background-color: rgba(107, 99, 181, 0.25);
    transition: background-color 0.125s ease-in;
    text-indent: 0.8rem;
}

.login-form-forgot-password {
    margin-left: -235px;
    width: 97px;
    height: 14px;
    font-family: Arial;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--purpleFirecracker);
}

.login-form-login-button {
    width: 336px;
    height: 32px;
    margin: 12px;
    padding: 4px 12px;
    border-radius: 4px;
    border: solid 1px var(--purpleFirecracker);
    background-color: rgba(255, 255, 255, 0.75);
}

.login-error {
    font-family: Arial;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #bc3e4d;
    display: inline;
}