@page
@model HpTcgCardBrowser.Web.Pages.Browser.IndexModel
@{
    ViewData["Title"] = "Card Browser - HPCB";
    Layout = null;
}

@* Required for AJAX async calls *@
@Html.AntiForgeryToken()

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="~/css/fontawesome-free/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/css/navbar-fixed-top.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/cardbrowser/cardbrowser.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/cardbrowser/cardbrowser-sets.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <ul class="navbar navbar-expand navbar-light bg-dark topbar static-top mr-auto fixed-top">
                    <!-- Set Dropdown -->
                    <li class="nav-item mx-1">
                        <select id="setSelect" title="Select set" class="form-control">
                        </select>
                    </li>
                    <!-- End Set Dropdown -->
                    <!-- Lesson cost -->
                    <li class="nav-item mx-1">
                        <select id="setLessons" title="Select lesson" class="form-control">
                            <option value="-1">Lesson Cost</option>
                            <option value="0">Lesson Cost: 0</option>
                            <option value="1">Lesson Cost: 1</option>
                            <option value="2">Lesson Cost: 2</option>
                            <option value="3">Lesson Cost: 3</option>
                            <option value="4">Lesson Cost: 4</option>
                            <option value="5">Lesson Cost: 5</option>
                            <option value="6">Lesson Cost: 6</option>
                            <option value="7">Lesson Cost: 7</option>
                            <option value="8">Lesson Cost: 8</option>
                            <option value="9">Lesson Cost: 9</option>
                            <option value="10">Lesson Cost: 10</option>
                        </select>
                    </li>
                    <!-- End lesson cost -->
                    <!-- Search text box -->
                    <li class="nav-item mx-1">
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input id="searchInput" type="text" class="form-control bg-light border-0 small" placeholder="Accio!" aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button id="searchButton" class="btn btn-primary" type="button">
                                        <i id="searchButtonIcon" class="fas fa-search fa-sm"></i>
                                        <span id="searchButtonSpinner" class="d-none spinner-border spinner-border-sm"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
                    <!-- End search text box -->
                </ul>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->

                <div class="container-fluid mt-4">
                    <div class="row">
                        <div class="col-sm-9">
                            <select id="sortCardsBy" title="Sort By" class="form-control w-25">
                                <option value="NoSort">Sort By</option>
                                <option value="llth">Lesson: Low to High</option>
                                <option value="lhtl">Lesson: High to Low</option>
                                <option value="cnlth">Card Name: a to Z</option>
                                <option value="cnhtl">Card Name: Z to a</option>
                            </select>
                            <div id="cardContainer" class="row">

                            </div>
                        </div>
                        <div class="col-sm-3" style="background-color: blue !important; height: calc(100vh - 194px);">
                            <div class="m-3">

                            </div>
                        </div>
                    </div>
                </div>


                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>

    <!-- Modals -->
    <div id="cardModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                
            </div>
        </div>
    </div>


    <!-- End of Page Wrapper -->
    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/js/jquery.easing.min.js" asp-append-version="true"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js" asp-append-version="true"></script>
    <script src="~/js/utility.js" asp-append-version="true"></script>

    <!-- Page scripts -->
    <script src="~/js/cardbrowser/cardbrowser.js" asp-append-version="true"></script>
    <script src="~/js/cardbrowser/cardbrowser-sets.js" asp-append-version="true"></script>
</body>
</html>
