@page
@model Accio.Presentation.Web.Pages.Register.IndexModel
@{
    ViewData["Title"] = "Sign up for an account - Accio Harry Potter TCG Search";
    Layout = null;
}

@Html.AntiForgeryToken()

<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css" asp-append-version="true" />

<div id="error" class="bg-washed-red red w-25 ml2 mt2 dn">
</div>

<div id="registerContainer" class="ml3 mt3">
    <h3>Register </h3>
    <input id="username" class="mt2" placeholder="user name" />
    <br />
    <input id="emailAddress" class="mv2" placeholder="email address" />
    <br />
    <input id="password" type="password" class="mb2" placeholder="password" />
    <br />
    <input id="data" class="dn" />
    <button id="signUp">Sign Up</button>
</div>

<div id="verifyContainer" class="ml3 mt3 dn">
    <h4>We sent you a code</h4>
    <p>Enter it below to verify <div id="verifyEmailAddress"></div></p>
    <input id="verificationCode" />
    <p>
        <button id="verifyCode">Verify</button>
    </p>
</div>

<div id="successContainer" class="ml3 mt3 dn">
    <h1>Boom! We're done. Thanks for registering for an Accio account!</h1>
</div>

<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="~/js/accio.bundle.min.js" asp-append-version="true"></script>