@page
@model Accio.Presentation.Web.Pages.Register.IndexModel
@{
    ViewData["Title"] = "Sign up for an account - Accio Harry Potter TCG Search";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<div id="error" class="bg-washed-red red w-25 ml2 mt2 dn">
</div>

<div class="mt4">
    @* Logo *@
    <partial name="_AccioLogo" />
</div>

<div id="registerContainer" class="mt3">
    @* Register text *@
    <p class="register-to-accio mb4">Create an Accio account</p>

    @* Error display *@
    <div id="errorContainer" class="cf dn">
        <partial name="_AlertLogo" />
        <div id="error" class="ml2 mt2 v-mid login-error">
        </div>
    </div>

    <div class="cf w-100 center">
        <input id="emailAddress" class="register-form-input" placeholder="Email address" />
    </div>
    <div id="emailAddressErrorMessage" class="cf w-100 center mb2 dn">
        <div class="register-form-input-error-message error-message-margin-email mt2">Please enter a valid email address.</div>
    </div>
    <div id="emailAddressAlreadyExistsErrorMessage" class="cf w-100 center mb2 dn">
        <div class="register-form-input-error-message error-message-margin-email mt2">This email address already exists.</div>
    </div>
    <div class="cf w-100 center mt3">
        <input id="username" class="register-form-input" placeholder="Username" />
    </div>
    <div id="usernameErrorMessage" class="cf w-100 center mb2 dn">
        <div class="register-form-input-error-message error-message-margin-username mt2">Please enter a valid username.</div>
    </div>
    <div id="usernameAlreadyExistsErrorMessage" class="cf w-100 center mb2 dn">
        <div class="register-form-input-error-message error-message-margin-username mt2">This username already exists.</div>
    </div>
    <div class="cf w-100 center mt3">
        <input id="password" type="password" class="register-form-input" placeholder="Password" />
    </div>
    <div id="passwordErrorMessage" class="cf w-100 center mb2 dn">
        <div class="register-form-input-error-message error-message-margin-password mt2">Password must be at least 8 characters.</div>
    </div>
    <div id="passwordNotComplicatedEnoughErrorMessage" class="cf w-100 center mb2 dn">
        <div class="register-form-input-error-message error-message-margin-password-notcomplicated mt2">Password must contain at least 1 special character.</div>
    </div>
    <div class="cf w-100 center mt3">
        <input id="confirmPassword" type="password" class="register-form-input" placeholder="Confirm password" />
    </div>
    <div id="confirmErrorMessage" class="cf w-100 center mb2 dn">
        <div class="register-form-input-error-message error-message-margin-confirm mt2">Passwords do not match.</div>
    </div>
    <input id="data" class="dn" />

    <div class="cf w-100 center mt3">
        <button id="signUp" class="register-form-register-button">Sign Up</button>
    </div>
    <div class="cf w-100 center mt4">
        <a href="~/Login" class="register-form-have-an-account">Already have an account? Sign in</a>
    </div>
</div>

<div id="verifyContainer" class="ml3 mt3 dn">
    <div class="register-to-accio">We sent you a code</div>
    <p class="white">Enter it below to verify <div id="verifyEmailAddress"></div></p>
    <input class="register-form-input" id="verificationCode" />
    <p>
        <button class="register-form-register-button mt3" id="verifyCode">Verify</button>
    </p>
</div>

<div id="successContainer" class="ml3 mt3 dn">
    <h1 class="white">Thanks for registering for an Accio account! Login <a class="register-form-have-an-account" href="/login">here</a>.</h1>
</div>